/*Store.css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  color: #5995DA;
  background-image: url("/images/header.png");
  background-size:cover;
  background-position: 70% 70%;
  display: flex;
  justify-content: center;

}

.header {
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-name {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

h2{
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item img{
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-image: url("/images/footer.png");
  height: 200px;
}

.footer-item {
  margin-bottom: 35px;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.footer-item p {
  color: #f00;
  font-size: small;
  padding: 0px;
  margin: 0px;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .footer {
    height: 400px;
  }
